<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>{{lec}}</h5>
            <div class="ibox-tools">
                <span class="label label-warning-light pull-right">10 Messages</span>
            </div>
        </div>
        <div class="ibox-content">

            <div>
                <div class="feed-activity-list">
                    <div ng-repeat="lecturer in lecturers">
                    <div class="feed-element">
                        <a class="pull-left" href="profile.html">
                            <img class="img-circle" alt="image" src="img/a3.jpg">
                        </a>
                        <div class="media-body ">
                            <small class="pull-right">2h ago</small>
                            <strong>{{lecturer.name}}</strong> <br>
                            <h6 class="text-muted"><h6 class="text-muted">{{lecturer.post}}</h6></h6>
                        </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

            </div>

        </div>
    </div>

</div>